#navbar {
  grid-column-start: 1;
  grid-column-end: 3;
  background: #32333f;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  height: 50px; }
  #navbar h1 {
    margin: 0 auto; }

#venue-sidebar {
  width: 415px;
  height: calc(100% - 50px);
  background: #fff;
  z-index: 4;
  font-size: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  position: absolute;
  overflow: auto;
  transition: all 0.5s ease;
  box-shadow: 1px 0px 5px #b3b3b3;
  background: #e9e9ed; }
  #venue-sidebar #search-input {
    padding: 10px;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    border: none;
    border-radius: 3rem;
    font-family: "proxima_nova_regular", Helvetica, sans-serif; }
    #venue-sidebar #search-input:focus {
      box-shadow: 0 2px 9px 0 rgba(50, 51, 63, 0.28);
      outline: none; }
  #venue-sidebar.visible {
    left: 0; }
  #venue-sidebar .attribution {
    color: #9395aa;
    font-size: 0.6rem;
    padding-top: 1rem;
    margin-top: 1rem;
    text-align: center;
    border-top: 1px solid #cccdd7; }

.hamburger--vortex {
  display: inline-block;
  overflow: visible;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  border: 0;
  background-color: transparent;
  padding: 0; }
  .hamburger--vortex .hamburger-box {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 24px; }
    .hamburger--vortex .hamburger-box .hamburger-inner,
    .hamburger--vortex .hamburger-box .hamburger-inner:after,
    .hamburger--vortex .hamburger-box .hamburger-inner:before {
      position: absolute;
      width: 30px;
      height: 3px;
      transition-timing-function: ease;
      transition-duration: 0.15s;
      transition-property: transform;
      border-radius: 4px;
      background-color: #777993; }
    .hamburger--vortex .hamburger-box:hover {
      opacity: 0.7; }
    .hamburger--vortex .hamburger-box .hamburger-inner {
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      top: 50%;
      display: block; }
      .hamburger--vortex .hamburger-box .hamburger-inner::before, .hamburger--vortex .hamburger-box .hamburger-inner::after {
        transition-duration: 0s;
        transition-delay: 0.1s;
        transition-timing-function: linear;
        display: block;
        content: ''; }
      .hamburger--vortex .hamburger-box .hamburger-inner::before {
        top: -10px;
        transition-property: top, opacity; }
      .hamburger--vortex .hamburger-box .hamburger-inner::after {
        bottom: -10px;
        transition-property: bottom, transform; }
  .hamburger--vortex.open .hamburger-inner {
    transform: rotate(765deg);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
    .hamburger--vortex.open .hamburger-inner::before, .hamburger--vortex.open .hamburger-inner::after {
      transition-delay: 0s; }
    .hamburger--vortex.open .hamburger-inner::before {
      top: 0;
      opacity: 0; }
    .hamburger--vortex.open .hamburger-inner::after {
      bottom: 0;
      transform: rotate(90deg); }

.venue-list {
  list-style: none; }

.list-item {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: gray;
  border-radius: 10px;
  background: #fff; }
  .list-item:focus {
    box-shadow: 0 0 0 1px #da3743;
    outline: none; }
  .list-item .content-container {
    width: 100%;
    padding: 10px 10px 0; }
    .list-item .content-container .content-inner-wrapper {
      display: flex; }
    .list-item .content-container .venue-image {
      background: #247f9e;
      margin-right: 1rem;
      border-radius: 2px;
      width: 100px;
      cursor: pointer; }
    .list-item .content-container .info-column {
      padding-right: 5px;
      max-width: 211px; }
      .list-item .content-container .info-column .venue-name {
        margin-bottom: 3px;
        cursor: pointer; }
      .list-item .content-container .info-column .venue-category {
        background: #fcf1ee;
        padding: 2px 8px;
        border-radius: 20px;
        text-transform: uppercase;
        font-size: 0.8rem;
        margin-top: 14px; }
      .list-item .content-container .info-column .vert-line {
        margin: 0 0.5rem; }
      .list-item .content-container .info-column .price-inactive {
        color: #e6e6e6; }
      .list-item .content-container .info-column .venue-address {
        margin-top: 0.5rem; }
    .list-item .content-container .rating-column {
      text-align: center;
      width: 40px;
      height: 45px;
      box-sizing: content-box;
      padding-top: 5px;
      position: relative;
      background: #da3743;
      color: white;
      margin-left: auto;
      margin-top: -10px;
      display: flex;
      justify-content: center; }
      .list-item .content-container .rating-column:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 7px solid #fff;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent; }
      .list-item .content-container .rating-column img {
        width: 13px;
        display: block;
        margin: 0 auto 2px; }

.venue-tabs {
  margin-top: 10px;
  margin: 10px -10px 0; }
  .venue-tabs .tab-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none; }
  .venue-tabs .tab-list-item {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #dadbe2;
    cursor: pointer;
    font-family: "proxima_nova_bold", Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .venue-tabs .tab-list-item:hover {
      color: #247f9e; }
    .venue-tabs .tab-list-item:first-of-type {
      border-right: 1px solid #dadbe2;
      border-radius: 0 0 0 9px; }
    .venue-tabs .tab-list-item:last-of-type {
      border-left: 1px solid #dadbe2;
      border-radius: 0 0 9px 0; }
  .venue-tabs .tab-list-active {
    border-top: 3px solid #da3743;
    padding-top: 8px;
    background: #f7f7f9; }
    .venue-tabs .tab-list-active:first-of-type {
      border-radius: 0; }
    .venue-tabs .tab-list-active::last-of-type {
      border-radius: 0; }
  .venue-tabs .tab-content {
    display: none; }
  .venue-tabs .tab-content-active {
    display: block;
    padding: 10px;
    background: #f7f7f9;
    border-radius: 0 0 10px 10px; }

.tip {
  display: flex; }
  .tip:first-of-type {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadbe2; }
  .tip .tip-photo {
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 10px;
    height: 50px; }
  .tip .user-name {
    margin-bottom: 10px;
    font-size: 10px;
    color: #b3b3b3;
    text-transform: uppercase;
    font-weight: bold; }

.table-hours {
  width: 100%;
  border-collapse: collapse; }
  .table-hours th,
  .table-hours .hours {
    width: 33.3%;
    padding-bottom: 8px; }
  .table-hours .open,
  .table-hours .closed {
    font-family: "proxima_nova_bold", Helvetica, sans-serif; }
  .table-hours .open {
    color: #247f9e; }
  .table-hours .closed {
    color: #da3743; }

.hours-unavailable .unavailable-message {
  margin-bottom: 0.5rem; }

.info-item {
  border-bottom: 1px dotted #e6e6e6;
  padding: 8px;
  margin: 0; }
  .info-item:first-of-type {
    padding-top: 0; }
  .info-item:last-of-type {
    border-bottom: none;
    padding-bottom: 0; }
  .info-item .attribute-key,
  .info-item .attribute-value {
    display: inline; }
  .info-item .attribute-value {
    float: right; }

.load-screen {
  position: fixed;
  z-index: 5;
  background: black;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center; }
  .load-screen .loading-image {
    animation: logo-spin infinite 20s linear;
    height: 200px; }

@keyframes logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.icon-tips,
.icon-hours,
.icon-info {
  padding-right: 5px; }

.icon-star {
  fill: white;
  display: block;
  margin: 0 auto; }

#iw-container {
  display: flex;
  max-width: 250px; }
  #iw-container .iw-photo {
    background: #247f9e;
    max-height: 60px; }
  #iw-container .iw-content {
    padding-left: 10px; }
  #iw-container .iw-title {
    margin: 0 0 5px; }
  #iw-container .iw-list {
    list-style-type: none;
    line-height: 1.5; }
  #iw-container .iw-address,
  #iw-container .iw-hours {
    display: flex;
    align-items: center; }
  #iw-container .iw-address {
    margin-bottom: 3px; }
  #iw-container .iw-icon {
    margin-right: 5px;
    fill: #9395aa; }

html {
  height: 100%;
  font-size: 13px;
  font-family: 'proxima_nova_regular', Helvetica, sans-serif;
  letter-spacing: 0.4px;
  color: #32333f; }

#root,
#app-container,
main {
  width: 100%; }

main {
  height: calc(100% - 50px); }

body,
#root,
#app-container {
  height: 100%; }

html,
body {
  margin: 0;
  padding: 0; }

#map {
  height: 100%; }

h2 {
  font-size: 1.23rem;
  font-family: "proxima_nova_bold", Helvetica, sans-serif;
  color: #247f9e;
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-weight: normal; }

.bold {
  font-family: "proxima_nova_bold", Helvetica, sans-serif; }
