@import './scss/variables';
@import './scss/NavBar';
@import './scss/SideBar';
@import './scss/NavButton';
@import './scss/VenueList';
@import './scss/ListItem';
@import './scss/Tabs';
@import './scss/Tip';
@import './scss/Hours';
@import './scss/Info';
@import './scss/LoadScreen';
@import './scss/Icon';
@import './scss/InfoWindow';
@import './scss/ArrowButton';
@import './scss/SearchButton';
@import './scss/Map';

html {
  height: 100%;
  font-size: 13px;
  font-family: 'proxima_nova_regular', Helvetica, sans-serif;
  letter-spacing: 0.4px;
  color: $ui-primary;
}

button,
input {
  letter-spacing: 0.4px;
}

#root,
#app-container {
  width: 100%;
}

body,
#root,
#app-container {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
    color: $primary;
  }
}

h2 {
  font-size: 1.25rem;
  font-family: $bold;
  color: $primary;
  letter-spacing: 0.4px;
  line-height: 1.2;
  font-weight: normal;
}

th {
  font-weight: normal;
}

.bold {
  font-family: $bold;
}
