#navbar {
  grid-column-start: 1;
  grid-column-end: 3;
  background: #32333f;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  height: 50px; }
  #navbar h1 {
    margin-left: 0.5rem; }

#venue-sidebar {
  width: 400px;
  height: calc(100% - 50px);
  background: #fff;
  z-index: 4;
  font-size: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  left: -300px;
  position: absolute;
  overflow: auto;
  transition: all 0.5s ease; }
  #venue-sidebar #search-input {
    padding: 0.5rem;
    height: 2.5rem;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box; }
  #venue-sidebar.visible {
    left: 0; }
  #venue-sidebar .attribution {
    color: #9395aa;
    font-size: 0.6rem;
    padding-top: 1rem;
    margin-top: 1rem;
    text-align: center;
    border-top: 1px solid #cccdd7; }

.hamburger--vortex {
  display: inline-block;
  overflow: visible;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: 0.15s;
  transition-property: opacity, filter;
  text-transform: none;
  border: 0;
  background-color: transparent;
  padding: 0; }
  .hamburger--vortex .hamburger-box {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 24px; }
    .hamburger--vortex .hamburger-box .hamburger-inner,
    .hamburger--vortex .hamburger-box .hamburger-inner:after,
    .hamburger--vortex .hamburger-box .hamburger-inner:before {
      position: absolute;
      width: 30px;
      height: 3px;
      transition-timing-function: ease;
      transition-duration: 0.15s;
      transition-property: transform;
      border-radius: 4px;
      background-color: #777993; }
    .hamburger--vortex .hamburger-box:hover {
      opacity: 0.7; }
    .hamburger--vortex .hamburger-box .hamburger-inner {
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
      top: 50%;
      display: block; }
      .hamburger--vortex .hamburger-box .hamburger-inner::before, .hamburger--vortex .hamburger-box .hamburger-inner::after {
        transition-duration: 0s;
        transition-delay: 0.1s;
        transition-timing-function: linear;
        display: block;
        content: ''; }
      .hamburger--vortex .hamburger-box .hamburger-inner::before {
        top: -10px;
        transition-property: top, opacity; }
      .hamburger--vortex .hamburger-box .hamburger-inner::after {
        bottom: -10px;
        transition-property: bottom, transform; }
  .hamburger--vortex.open .hamburger-inner {
    transform: rotate(765deg);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
    .hamburger--vortex.open .hamburger-inner::before, .hamburger--vortex.open .hamburger-inner::after {
      transition-delay: 0s; }
    .hamburger--vortex.open .hamburger-inner::before {
      top: 0;
      opacity: 0; }
    .hamburger--vortex.open .hamburger-inner::after {
      bottom: 0;
      transform: rotate(90deg); }

.venue-list {
  list-style: none; }

.list-item {
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  color: gray; }
  .list-item .content-container {
    display: flex;
    border: 1px solid red;
    width: 100%; }
    .list-item .content-container img {
      background: #247f9e;
      margin-right: 1rem; }
    .list-item .content-container .info-column {
      width: 215px;
      border: 1px solid blue; }
    .list-item .content-container h2 {
      font-size: 1.23rem;
      font-family: 'proxima_nova_bold', Helvetica, sans-serif;
      color: #247f9e; }
    .list-item .content-container .price-inactive {
      color: #e6e6e6; }
    .list-item .content-container .vert-line {
      margin: 0 0.5rem; }

html {
  height: 100%;
  font-size: 13px;
  font-family: 'proxima_nova_regular', Helvetica, sans-serif;
  letter-spacing: 0.25px;
  color: #32333f; }

#root,
#app-container,
main {
  width: 100%; }

main {
  height: calc(100% - 50px); }

body,
#root,
#app-container {
  height: 100%; }

html,
body {
  margin: 0;
  padding: 0; }

#map {
  height: 100%; }
