@import './scss/variables';
@import './scss/NavBar';
@import './scss/SideBar';
@import './scss/NavButton';
@import './scss/VenueList';
@import './scss/ListItem';
@import './scss/Tabs';
@import './scss/Tip';
@import './scss/Hours';
@import './scss/Info';
@import './scss/LoadScreen';

html {
  height: 100%;
  font-size: 13px;
  font-family: 'proxima_nova_regular', Helvetica, sans-serif;
  letter-spacing: 0.4px;
  color: $ui-primary;
}

#root,
#app-container,
main {
  width: 100%;
}

main {
  height: $height-minus-navbar;
}

body,
#root,
#app-container {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

h2 {
  font-size: 1.23rem;
  font-family: $bold;
  color: $primary;
  letter-spacing: 0.5px;
  line-height: 1.2;
  font-weight: normal;
}

.bold {
  font-family: $bold;
}

// infowindow
#iw-container {
  .iw-photo {
    background: gray;
  }
}
