.arrow-button {
  span {
    width: 13px;
    height: 9px;
    display: inline-block;
    position: relative;
    top: 1px;
    transition: 0.3s ease;
    transform: rotate(0);
    margin-left: 5px;
    &:before,
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 2px;
      height: 7px;
      background-color: transparent;
      transition: 0.3s ease;
      border-bottom: 9px solid $ui-06;
      top: -1px;
      left: 6px;
      border-radius: 2px;
      transform: rotate(0);
    }
    &:before {
      transform: rotate(-135deg);
    }
    &:after {
      position: absolute;
      transform: rotate(135deg);
    }
  }
  &.active {
    span {
      transform: rotate(0);
      transform: translate(0, -5px);
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
  }
}
