.table-hours {
  width: 100%;
  border-collapse: collapse;

  tbody {
    border-bottom: 1px dotted $ui-07;

    td {
      padding: 10px 0 10px 0px;
      text-align: center;
      &:first-of-type {
        padding: 10px 0 10px 0rem;
        width: 38%;
      }
      &:last-of-type {
        padding: 10px 2% 10px 1rem;
      }
    }

    th {
      width: 31%;
      box-sizing: border-box;
      padding: 10px 4px 10px 4px;
    }

    // first row
    &:first-of-type {
      th {
        padding: 0 4px 10px 4px;
      }
      td {
        padding: 0 0 10px 0px;
        &:last-of-type {
          padding: 0 2% 10px 1rem;
        }
      }
    }

    // last row
    &:last-of-type {
      th,
      td {
        padding-bottom: 0px;
      }
      td {
        &:last-of-type {
          padding-bottom: 0;
        }
      }
      border-bottom: none;
    }

    .open,
    .closed {
      font-family: $bold;
    }

    .open {
      color: $primary;
    }

    .closed {
      color: $secondary;
    }
  }

  .data-unavailable {
    a {
      color: $primary;
      float: right;
    }

    .icon-phone,
    .icon-globe {
      position: relative;
      top: -1px;
      width: 14px;
    }
  }

  .open,
  .closed {
    font-family: $bold;
  }

  .open {
    color: $primary;
  }

  .closed {
    color: $secondary;
  }
}

.data-unavailable {
  a {
    color: $primary;
    float: right;
  }

  .icon-phone,
  .icon-globe {
    position: relative;
    top: -1px;
    width: 14px;
  }
}
