.table-hours {
  width: 100%;
  border-collapse: collapse;

  th,
  .hours {
    width: 33.3%;
    padding-bottom: 8px;
  }

  .open,
  .closed {
    font-family: $bold;
  }

  .open {
    color: $primary;
  }

  .closed {
    color: $secondary;
  }
}

.hours-unavailable {
  // text-align: center;

  a {
    color: $primary;
    float: right;
  }

  .unavailable-message {
    margin-bottom: 1rem;
  }

  .icon-phone,
  .icon-globe {
    position: relative;
    top: -1px;
    width: 14px;
  }
  // .icon-phone {
  //   position: relative;
  //   top: 1px;
  // }

  // .hours-phone {
  //   margin-top: 5px;
  // }
}
