#iw-container {
  display: flex;
  max-width: 250px;

  .iw-photo {
    background: $primary;
    max-height: 60px;
  }

  .iw-content {
    padding-left: 10px;
  }

  .iw-title {
    margin: 0 0 5px;
  }

  .iw-list {
    list-style-type: none;
    line-height: 1.5;
  }

  .iw-address,
  .iw-hours {
    display: flex;
    align-items: center;
  }

  .iw-address {
    margin-bottom: 3px;
  }

  .iw-icon {
    margin-right: 5px;
    fill: $ui-04;
  }

}