.list-item {
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: $black-03;

  .content-container {
    display: flex;
    border: 1px solid red;
    width: 100%;

    .venue-image {
      background: $primary;
      margin-right: 1rem;
    }

    .info-column {
      // width: 215px;
      border: 1px solid blue;

      .price-inactive {
        color: $black-07;
      }

      .vert-line {
        margin: 0 0.5rem;
      }
    }

    .rating-column {
      text-align: center;
      width: 40px;
      height: 45px;
      box-sizing: content-box;
      padding-top: 5px;
      position: relative;
      background: $secondary;
      color: white;
      margin-left: auto;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-bottom: 7px solid $white;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
      }

      img {
        width: 13px;
        display: block;
        margin: 0 auto 2px;
      }
    }
  }
}
