@media only screen and (max-width: 500px) {
  html {
    height: auto;
  }

  #app-container {
    display: flex;
    flex-direction: column;
  }

  #venue-sidebar {
    width: 100%;
    position: static;
    order: 2;
    top: 57px;
    overflow: visible;
    height: auto;
    flex: 1;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.35);
    &.hidden {
      margin-left: 0;
    }

    .sidebar-wrapper {
      overflow: visible;
    }
  }

  .search-bar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  }

  #map {
    width: 100%;
    order: 1;
    height: 250px;
    position: fixed;
    margin-top: 59px;
    &.pad-left {
      margin-left: 0;
    }
  }

  .hamburger--vortex {
    .hamburger-box {
      display: none;
    }
  }
}
