.hamburger--vortex {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: left 500ms $easing;
  border: none;
  padding: 0;
  background: $primary;
  &:focus {
    outline: none;

    .hamburger-box {
      opacity: 1;
    }
  }

  &.open {
    &:hover {
      .hamburger-box {
        opacity: 1;
      }
    }
  }

  .hamburger-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 19.5px;
    transition: opacity 0.5s ease;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }

    .hamburger-top,
    .hamburger-middle,
    .hamburger-bottom {
      width: 25px;
      height: 2px;
      border-radius: 2px;
      transition: transform 0.5s $easing, opacity 0.5s, background-color 2.25s;
      background: white;
    }

    .hamburger-top,
    .hamburger-middle {
      margin-bottom: 7px;
    }
  }
}

.hamburger--vortex.open {
  left: 348px;

  .hamburger-top {
    transform: translateY(9px) rotate(-135deg);
  }

  .hamburger-middle {
    opacity: 0;
    transform: rotate(135deg);
  }

  .hamburger-bottom {
    transform: translateY(-9px) rotate(-45deg);
  }
}
