#navbar {
  grid-column-start: 1;
  grid-column-end: 3;
  background: $ui-primary;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  height: 50px;
  h1 {
    margin-left: 0.5rem;
  }
}
