#search-button {
  background: none;
  display: flex;
  align-items: center;
  color: white;
  font-family: $regular;
  font-size: 1rem;
  cursor: pointer;
  padding: 0 0.85rem;
  border-radius: 20px;
  transition: all 0.5s ease;
  border: 2px solid transparent;
  &.expanded {
    background: rgba(0, 0, 0, 0.12);
    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
  &:focus {
    background: rgba(0, 0, 0, 0.2);
    outline: none;
  }

  .icon-search {
    margin-right: 8px;
    fill: rgba(255, 255, 255, 0.6);
  }
}
