#search-button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  color: white;
  font-family: $roman;
  font-size: 1rem;
  cursor: pointer;
  // padding-left: 20px;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: all 0.5s ease;
  // border: 1px solid transparent;
  &.expanded {
    background: rgba(0, 0, 0, 0.1);
  }
  &:focus,
  &:hover {
    // border: 1px solid rgba(255, 255, 255, 0.6);
    // outline: none;
  }

  .icon-search {
    margin-right: 8px;
    fill: rgba(255, 255, 255, 0.6);
  }
}
