#venue-sidebar {
  width: 415px;
  height: $height-minus-navbar;
  background: $white;
  z-index: 4;
  font-size: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  left: -415px;
  position: absolute;
  overflow: auto;
  transition: all 0.5s ease;
  box-shadow: 1px 0px 5px $black-05;
  background: $ui-08;
  #search-input {
    padding: 0.5rem;
    height: 2.5rem;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
  }
  &.visible {
    left: 0;
  }
  .attribution {
    color: $ui-04;
    font-size: 0.6rem;
    padding-top: 1rem;
    margin-top: 1rem;
    // text-transform: uppercase;
    text-align: center;
    border-top: 1px solid $ui-06;
  }
}
