.venue-tabs {
  margin-top: 10px;
  // padding: 10px 10px 0px;
  border-top: 1px solid $ui-05;
  margin: 10px -10px 0;

  .tab-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
  }

  .tab-list-item {
    width: 100%;
    text-align: center;
    padding: 10px;
    &:first-of-type {
      border-right: 1px solid $ui-05;
    }
    &:last-of-type {
      border-left: 1px solid $ui-05;
    }
  }

  .tab-content {
    display: none;
  }

  .tab-content-active {
    display: block;
    padding: 10px;
  }
}
