.venue-tabs {
  margin-top: 10px;
  margin: 10px -10px 0;

  .tab-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
  }

  .tab-list-item {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top: 1px solid $ui-07;
    // color: $primary;
    cursor: pointer;
    // font-family: $bold;
    font-weight: bold;
    color: $primary;
    text-transform: capitalize;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      color: $primary;
      background: $ui-09;
    }
    // &:hover .icon-tips {
    //   fill: $primary
    // }
    &:first-of-type {
      border-right: 1px solid $ui-07;
      border-radius: 0 0 0 9px;
    }
    &:last-of-type {
      border-left: 1px solid $ui-07;
      border-radius: 0 0 9px 0;
    }

    &.tab-list-active {
      border-top: 3px solid $secondary;
      padding-top: 8px;
      border-radius: 0;
      // background: $ui-09;

      // &:first-of-type {
      //   border-radius: 0;
      // }
      // &:last-of-type {
      //   border-radius: 0;
      // }
    }

    &.tab-list-inactive {
      border-bottom: 1px solid $ui-07;
      border-radius: 0;
    }
  }

  .tab-content {
    display: none;
  }

  .tab-content-active {
    display: block;
    padding: 10px;
    // background: $ui-09;
    border-radius: 0 0 10px 10px;
  }
}
