.venue-tabs {
  margin-top: 10px;
  margin: 13px -13px 0;

  .tab-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
  }

  .tab-list-item {
    width: 100%;
    text-align: center;
    // padding: 10px;
    padding: 0.85rem 0 0.95rem;
    border-top: 1px solid $ui-07;
    // color: $primary;
    cursor: pointer;
    // font-family: $bold;
    // color: $primary;
    text-transform: capitalize;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $semibold;
    // color: $black-02;
    &:hover {
      background: $ui-09;
      // background: red;
    }
    // &:hover .icon-tips {
    //   fill: $primary
    // }
    &:first-of-type {
      border-right: 1px solid $ui-07;
      border-radius: 0 0 0 9px;
    }
    &:last-of-type {
      border-left: 1px solid $ui-07;
      border-radius: 0 0 9px 0;
    }

    &.tab-list-active {
      border-top: 3px solid $primary;
      padding-top: 8px;
      border-radius: 0;
      color: $primary;
      &:hover {
        background: inherit;
      }
      // background: $ui-09;

      // &:first-of-type {
      //   border-radius: 0;
      // }
      // &:last-of-type {
      //   border-radius: 0;
      // }
      .icon {
        fill: $primary;
      }
    }

    &.tab-list-inactive {
      border-bottom: 1px solid $ui-07;
      border-radius: 0;
    }

    // .icon-tips {
    //   top: 1px;
    //   position: relative;
    // }

    // .icon-hours {
    //   top: 2px;
    // }

    // .icon-info {
    //   top: 3px;
    // }
  }

  .tab-content {
    display: none;
  }

  .tab-content-active {
    display: block;
    padding: 1rem;
    // background: $ui-09;
    border-radius: 0 0 10px 10px;
  }
}
