.tip {
  display: flex;
  // prevent long urls from breaking layout
  word-break: break-word;
  &:first-of-type {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted $ui-07;
  }

  .tip-photo {
    border-radius: 50px;
    margin-right: 1rem;
    margin-top: 5px;
    height: 50px;
  }

  .tip-text {
    width: 100%;
  }

  .tip-quote {
    margin-bottom: 0.25rem;
  }

  .user-name {
    font-family: $bold;
    font-size: 0.9rem;
  }

  .user-date {
    float: right;
    color: $black-05;
    font-family: $regular;
    font-size: 0.9rem;
    position: relative;
    top: 1.1px;
  }
}
