.tip {
  display: flex;
  &:first-of-type {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted $ui-07;
  }

  .tip-photo {
    border-radius: 50px;
    margin-right: 1rem;
    margin-top: 5px;
    height: 50px;
  }

  .tip-text {
    width: 100%;
  }
  .tip-quote {
    margin-bottom: 0.25rem;
  }

  .user-name {
    // margin-bottom: $unit;
    // font-size: 0.9rem;
    // color: $black-04;
    // text-transform: uppercase;
    font-family: $semibold;
  }

  .user-date {
    float: right;
    color: $black-05;
    font-family: $roman;
    font-size: 0.9rem;
  }
}
