//--------------------------------------------------------------------
// Colors
//--------------------------------------------------------------------

$primary-color: #333;
$white: #fff;
$black: #000;
