//--------------------------------------------------------------------
// Colors
//--------------------------------------------------------------------

$primary-color: #333;
$white: #ecf0f1;
$black: #000;
