//--------------------------------------------------------------------
// Colors
//--------------------------------------------------------------------

//---- Primary colors
$white: #fff;
$white-opaque: rgba(255, 255, 255, 0.3);
$primary: #247f9e;
$primary-dark: #21738f;
$secondary: #da3743;
$yellow: #f7b600;
$black: #333;
$ui-primary: #32333f;

//---- Variants
$black-01: lighten($black, 10%);
$black-02: lighten($black, 20%);
$black-03: lighten($black, 30%);
$black-04: lighten($black, 40%);
$black-05: lighten($black, 50%);
$black-06: lighten($black, 60%);
$black-07: lighten($black, 70%);
$black-08: lighten($black, 77%);
$black-09: lighten($black, 90%);

$ui-01: lighten($ui-primary, 10%);
$ui-02: lighten($ui-primary, 20%);
$ui-03: lighten($ui-primary, 30%);
$ui-04: lighten($ui-primary, 40%);
$ui-05: lighten($ui-primary, 50%);
$ui-06: lighten($ui-primary, 56%);
$ui-07: lighten($ui-primary, 65%);
$ui-08: lighten($ui-primary, 66%);
$ui-09: lighten($ui-primary, 75%);
$ui-10: lighten($ui-primary, 76%);

//--------------------------------------------------------------------
// Fonts
//--------------------------------------------------------------------

$regular: 'proxima_nova_regular', Helvetica, sans-serif;
$bold: 'proxima_nova_bold', Helvetica, sans-serif;
$semibold: 'proxima_nova_semibold', Helvetica, sans-serif;

//--------------------------------------------------------------------
// Animations
//--------------------------------------------------------------------

$easing: cubic-bezier(0.6, 0.05, 0.28, 0.91);
